{% extends "base.html" %}

{% block title %}
Создание события
{% endblock title %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <form class="" action="{% url 'create_event' %}" method="post">
                {% csrf_token %}

                {% for field in event_form %}
                <div class="mt-4">
                    {% if field.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ field.errors }}
                    </div>
                    {% endif %}

                    {{ field.label }}
                    {{ field }}
                </div>
                {% endfor %}
                <button type="submit" class="btn btn-primary my-4">Создать</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}