{% extends "base.html" %}

{% block title %}
Удаление тега
{% endblock title %}

{% block content %}
<div class="container">
    <div class="row text-center">
        <div class="col-md mt-4">
            <form action="{% url 'delete_tag' tag.slug %}" method="post">
                {% csrf_token %}

                <p>Вы уверены, что хотите удалить <b>{{ tag.title|capfirst }}</b></p>
                <a href="{{ tag.get_absolute_url }}" class="btn btn-primary me-5">Отмена</a>
                <button type="submit" name="button" class="btn btn-danger">Удалить</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}